:root {

    /* main vars*/
    --font:'Montserrat', sans-serif;
    --max-container-width: 1400px;
    --container-padding: 60px 20px;
    --placeholder-color: #333333;
    --selection-colors-bg: rgba(22, 37, 217, 0.3);
    --selection-color: #fff;

    /* custom vars*/
    --main: #0B2EAA;
    --gray: #F6F8FA;
    --green: #27AE60;
    --yellow: #FFD749;
    --red: #ED1C1C;
    --main-hover: #00a1ff;
    --shadow: 0px 2px 20px -5px rgba(0,0,0, .1);
}

* {
    vertical-align: baseline;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 14px;
    line-height: 1;
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: 400;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    color: #000;
    letter-spacing: .25px;
    word-break: break-word;
}

#app {
    text-align: center;
}

#app,
main,
article {
    width: 100%;
    display: block;
    overflow: hidden;
}

#site_main {
    padding-top: 56px;
}

img {
    width: 100%;
    max-width: 100%;
}



img.cover {
    object-fit: cover;
    object-position: 50% 50%;
}
.coub:after {
    content: '';
    padding-top: 100%;
    float: left;
    pointer-events: none;
    z-index: -1;
}
.coub-16n9 {}
.coub-16n9:after {
    padding-top: 178%;
}

.cf {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

article {
    
}

.container {
    width: 100%;
    max-width: var(--max-container-width);
    padding: var(--container-padding);
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.container-cf {
    max-width: 100%;
}

.verti {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
}

/************** GRID ****************/

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

/************** .BTNS ****************/

a,
button {
    transition: .15s linear;
    position: relative;
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer;
    line-height: 1;
    font-weight: inherit;
}

a:hover,
button:hover {
    text-decoration: none !important;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn {
    padding: 15px 50px;
    border: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    line-height: 1;
    text-transform: unset;
    background-color: var(--red);
    font-weight: bold;
    user-select: none;
    white-space: nowrap;
    color: #fff;
    background-color: var(--main);
}

.swiper-pagination+.btn {
    margin-top: 32px;
}

/*modificators*/
.btn-row {
    width: 100%;
    max-width: 400px;
    padding-right: 5px;
    padding-left: 5px;
}

.btn.line {
    border: none;
    background-color: transparent;
    padding: 0;
}

.btn-sm {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.btn.big {}


.btn-left {
    margin-left: 0;
    margin-right: auto;
}

.btn-right {
    margin-right: 0;
    margin-left: auto;
}

.btn-center {
    margin-left: auto;
    margin-right: auto;
}

.btn.sm,
.btn.sm.empty {
    font-size: 14px;
    padding: 7px 15px;
    /* font-weight: normal; */
}

.btn.big {}

.btn.round {
    border-radius: 100%;
}


.btn.text {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    color: var(--blue);
}

.btn.icon {}
.btn.icon:before {
    margin-right: 0;
}

.btn[class^="ic-"]:not(.round):before,
.btn[class*="ic-"]:not(.round):before {
    margin-right: 5px;
}

.btn[class^="ic-"]:not(.round):not(.sm):before,
.btn[class*="ic-"]:not(.round):not(.sm):before {
    margin-right: 10px;
    font-size: 120%;
}

.btn.icon.round {
    /* padding-left: 7px; */
    /* padding-right: 7px; */
}

.btn.icon.round:not(.sm) {
    /* padding: 16px; */
}

.btn.icon.round.empty:not(.sm) {
    padding: 14px;
}

/*colors*/

.btn-white {
    background-color: #fff;
    color: var(--main);
}

/*hovers*/

.btn-success {
    background-color: var(--green);
}
.btn-error {
    background-color: var(--red);
}


/************** content ****************/


/************** content ****************/

p {
    margin: 0;
}

p:last-of-type,
ul>li:last-of-type {
    margin-bottom: 0;
}

p a,
li a {
    line-height: inherit;
}

p a:hover,
p a:focus,
p a:focus:hover {

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

li {}

li:last-of-type {}

.content {
    text-align: left;
}

.content img {
    width: 100%;
}

.content ul {
    list-style-type: circle;
    padding-left: 25px;
}

.content li {
    line-height: 1.4;
    margin-bottom: 5px;
}

.content p {
    line-height: 1.6;
}

.content a {
    color: var(--main);
    text-decoration: underline !important;
}

.content a:hover,
.content a:focus,
.content a:focus:hover {
    color: var(--red);
    text-decoration: underline !important;
}

.page_content {
    max-width: 980px;
}

.content span {
    color: var(--red);
}

.content h2:not(:last-child),
.content h3:not(:last-child),
.content h4:not(:last-child),
.content h5:not(:last-child),
.content h6:not(:last-child),
.content a:not(:last-child),
.content p:not(:last-child),
.content ul:not(:last-child),
.content img:not(:last-child) {
    margin-bottom: 10px;
}

.content * + h2,
.content * + h3,
.content * + h4,
.content * + h5,
.content * + h6 {
    margin-top: 1.4em;
}

.container-header,
.page_header {
    text-transform: unset;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    line-height: 1.24;
    margin-bottom: 24px;
}
.container-cf>.container-header {
    max-width: var(--max-container-width);
}

.page_header_wp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.page_header_wp .page_header {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: max-content;
    margin: 0 auto;
    padding-top: 4px;
    max-width: calc(100% - 500px);
}

.page_header_els {
    margin-right: auto;
}

.page_header_els.left {}

.page_header_els .btn {
    margin-right: 20px;
}

.page_header_els .btn:last-of-type {
    margin-right: 0;
}

p strong,
p b {
    font-weight: 500;
}

/***************************************/
/************** header *****************/
/***************************************/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: rgba(255, 255, 255, .95);
    transition: .15s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
}

#header.min {
    box-shadow: 0px 0px 30px 5px rgba(32, 49, 109, 0.1);
}
#header.min>.header-container {}

.header-logo {
    width: 26px;
    line-height: 0;
}
.header-logo:hover {}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.header-button {
    padding: 0;
    margin-left: 40px;
    color: var(--main);
    font-size: 18px;
    background-color: transparent;
}
.header-button:first-of-type {
    margin-left: 0;
}
.header-button:hover,
.header-button:focus,
.header-button:focus:hover {}

/************** header-menu *****************/

.header-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 32px;
}

.header-menu>li {
    position: relative;
    /* display: block; */
}

.header-menu>li:not(:last-of-type){
    margin-right: 25px;
}
.header-menu>li>a:before {
    position: absolute;
    left: calc(100% + -17px);
    color: var(--main);
    font-size: 3px;
    top: calc(50% - .5em);
    pointer-events: none;
}

.header-menu>li>a {
    font-weight: bold;
}
.header-menu>li>a {
    border-radius: 8px;
    background-color: transparent;
    z-index: 1;
    transition: .15s linear;
    padding: 16px 28px;
}

.header-menu>li>a[class^="ic-"],
.header-menu>li>a[class*="ic-"] {
    border-radius: 8px 8px 0px 0px;
    z-index: 93;
}

.header-menu>li>a:hover,
.header-menu>li:hover>a {
    box-shadow: 0px 2px 20px -5px rgba(0,0,0, .3);
    background-color: #fff;
}
.header-menu>li:hover>a[class^='ic-'],
.header-menu>li:hover>a[class*='ic-'] {
    box-shadow: 0px -4px 10px -1px rgba(0,0,0, .1);
    background-color: #fff;
}


.header-menu a {font-size: 14px;color: var(--main);display: block;}

.sub-menu {
    display: none;
}
.header-menu>li>.sub-menu>li>.sub-menu {
    display: none;
    position: absolute;
    left: 418px;
    top: 0;
    padding-left: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    padding-top: 40px;
    height: 100%;
}
.header-menu>li>.sub-menu>li>.sub-menu>li {
    margin-bottom: 15px;
}
.header-menu>li>.sub-menu>li>.sub-menu>li>a{
    color: #000;
}
.header-menu>li>.sub-menu>li>.sub-menu>li>a:hover{
    color: var(--main);
}
.header-menu>li>.sub-menu>li:hover .sub-menu {
    display: flex;
}

.header-menu li:hover>.sub-menu {
    display: flex;
}

.header-menu>li>.sub-menu {
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding: 40px 28px;
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    z-index: 33;
    box-shadow: var(--shadow);
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    overflow: auto;
    max-height: calc(100vh - 68px);
    max-width: 1245px;
    border-radius: 0px 8px 8px 8px;
}
.header-menu>li>.sub-menu>li {
    width: 100%;
    max-width: 390px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-menu>li>.sub-menu>li>a {
    font-size: 14px;
    padding: 10px 0;
    padding-left: 60px;
    width: 100%;
    text-align: left;
    line-height: 1.24;
    border-right: 1px solid #dadada;
}
.header-menu>li>.sub-menu>li>a:after {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    height: 1px;
    width: calc(100% - 20px);
    background-color: #F6F8FA;
    left: 0;
}
.header-menu>li>.sub-menu>li>a:before {
    position: absolute;
    left: 22px;
    top: 12px;
    font-size: 16px;
}


/************** cart-point *****************/
.cart-point {
    position: absolute;
    right: -5px;
    top: -2px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    background-color: var(--red);
    border-radius: 10px;
    display: none;
    transition: .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.cart-point.active {
    display: block;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/***************************************/
/************** FOOTER *****************/
/***************************************/

#footer {
    background-color: var(--gray);
}

.footer-container {
    padding-bottom: 10px;
}

.footer-content-wp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}
.footer-box:first-of-type {
    margin-top: 0;
}
.footer-box-bnts-wp {
    justify-content: center;
}
.footer-box-bnts-wp>.btn:not(:last-of-type) {
    margin-right: 12px;
}

.footer-box-contacts-page>.contacts-box:not(:last-of-type) {
    margin-bottom: 28px;
}

.contacts-box {
    text-align: left;
    color: #000;
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    position: relative;
    padding-left: 26px;
}

.contact-row:not(:last-of-type) {
    margin-bottom: 5px;
}

.contacts-box-icon {
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 20px;
    color: var(--main);
    width: 20px;
    text-align: center;
}

.contact-link {
    color: #000;
    line-height: 1.24;
}
.contact-link>span {
    font-weight: bold;
}
.contact-link:hover,
.contact-link:focus,
.contact-link:focus:hover {}

.footer-menu {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
}
.footer-menu>li:not(:last-of-type) {
    margin-bottom: 12px;
}
.footer-menu>li>a {
    color: var(--main);
    font-weight: bold;
}
.footer-menu>li>a:hover,
.footer-menu>li>a:focus,
.footer-menu>li>a:focus:hover {}
.footer-menu>li:last-of-type {
    margin-bottom: 0;
}

.footer-menu-contacts {}
.footer-menu-contacts>li {
    position: relative;
    padding-left: 24px;
}
.footer-menu-contacts>li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 4px;
    height: 4px;
    border: 2px solid #dadada;
    border-radius: 8px;
}

.copyright {
    background-color: var(--gray);
}
.copyright-container {
    padding-top: 15px;
    padding-bottom: 35px;
}
.copyright-text {}


/***************************************/
/************** page-contacts **************/
/***************************************/

.google-map-wp {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.google-map-wp:after {
    padding-top: 56%;
}
.google-map-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
    background-color: #dadada;
    font-size: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}
#google-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}


/***************************************/
/************** page-home **************/
/***************************************/

/************** hero ****************/
.hero-article {
    overflow: hidden;
    margin-top: -30px;
}
.hero-container {
    text-align: left;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
    min-height: 600px;
    max-height: 800px;
}

.hero-illustration {
    position: absolute;
    left: -50%;
    width: 200%;
    height: 100%;
    background-image: url(../img/hero_bg.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}

.hero-header {
    font-size: 36px;
    line-height: 1.24;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
}

.hero-subheader {
    margin-top: 12px;
    color: #fff;
    font-size: 18px;
    line-height: 1.24;
    z-index: 1;
}
.hero-subheader + .btn {
    margin-top: 32px;
    z-index: 1;
}

/************** our-advantages ****************/

.our-advantages-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.our-advantage-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.our-advantage-num {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
    color: rgb(230, 234, 247);
    width: 50px;
    text-align: center;
    min-width: 50px;
    z-index: 0;
}
.our-advantage-icon {
    font-size: 40px;
    z-index: 1;
    margin-left: -25px;
    color: var(--main);
    width: 42px;
    text-align: center;
}
.our-advantage-text {
    font-size: 18px;
    text-align: left;
    line-height: 1.24;
    flex-grow: 1;
    padding-left: 15px;
}

/***************************************/
/************** slides *****************/
/***************************************/

/************** card *****************/

.card {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 20px -5px rgba(0,0,0, .1);
    overflow: hidden;
    /* font-size: 0; */
}

.container-header+.swiper-container {overflow: visible;max-width: 100%;}

/************** our-clients-slider *****************/
.swiper-container.our-clients-slider {
    overflow: visible;
    width: 100%;
}
.our-clients-slider {
    margin-top: -8px;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-right: -30px;
    max-width: var(--max-container-width);
}
.our-clients-slider>.swiper-wrapper,
.feedback-slider>.swiper-wrapper {
    cursor: grab;
}

.our-clients-slide {
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-clients-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

/************** feedback-slide *****************/

.feedback-article {
    background-color: var(--gray);
}
.feedback-slider {}
.feedback-slide {}
.swiper-slide.feedback-slide {
    max-width: 320px;
    width: 100%;
}

/************** items-slide *****************/

.swiper-slide.items-slider {}


/***************************************/
/************** item card **************/
/***************************************/

.swiper-slide.item-card,
.item-card {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 168px;
    width: 50%;
    position: relative;
    overflow: hidden;
    padding: 14px;
    padding-bottom: 12px;
    color: #000;
    max-width: 215px;
    transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow .3s cubic-bezier(0.4, 0, 0.2, 1);
}
.item-card-link {
    position: absolute;
    z-index: 33;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.item-card-new {
    font-size: 8px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--green);
    padding: 4px 13px;
    position: absolute;
    z-index: 13;
    left: 12px;
    top: calc(63% - 8px);
}
.item-card-img {
    width: 100%;
    margin-bottom: 14px;
}
.item-card-title {
    margin-top: 0;
    text-align: left;
    font-size: 14px;
    margin-bottom: 8px;
    color: inherit;
}
.item-card-subheader {
    text-align: left;
    line-height: 1.2;
    font-size: 12px;
    min-height: 28px;
    color: inherit;
}
.item-card-price-wp {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
    font-size: 18px;
}
.item-card-price {
    font-weight: bold;
    line-height: 1;
    color: inherit;
    /* font-size: 18px; */
}
.item-card-price>span {
    font-size: 68%;
    vertical-align: baseline;
    margin-left: 3px;
}
.item-card-price-sale>span:after {
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    top: calc(50% - 0px);
    height: 1px;
    z-index: 3;
    background-color: var(--red);
    pointer-events: none;
}
.item-card-price-sale {
    background-color: var(--yellow);
    position: relative;
    font-size: 62%;
    padding: 4px 5px;
    padding-bottom: 3px;
    margin-left: 15px;
    display: flex;
    line-height: 1;
    border-radius: 0px 1px 1px 0px;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}
.item-card-price-sale:after,
.item-card-price-sale:before {
    content: '';
    position: absolute;
}

.item-card-price-sale:after {background-color: #fff;border-radius: 20px;top: calc(50% - 1px);width: 2px;height: 2px;right: calc(100% + 4px);}
.item-card-price-sale:before {
    background-image: url('../img/rectangle1.svg');
    background-size: contain;
    width: 20px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right center;
    top: 0px;
    right: 100%;
    pointer-events: none;
}

.item-card-price-sale>span {}

.item-card-last-item,
.swiper-slide.item-card-last-item {
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: var(--main);
    min-height: 267px;
}
.item-card-icon {
    font-size: 56px;
    color: #fff;
    margin-bottom: 12px;
}
.item-card-text {
    padding-left: 0;
    padding-right: 0;
}

.item-card:hover,
.item-card:focus,
.item-card:focus:hover {
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0px 7px 25px -10px rgba(0,0,0, .2);
}


/***************************************/
/************** custom page ************/
/***************************************/

.page-article {}
.page-content {
    width: 100%;
}
/***************************************/
/************** page-404 ************/
/***************************************/


.page404-wp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 60vh;
    padding-top: 5vw;
    position: relative;
}
.page404-icon {
    font-size: 210px;
    color: rgba(11, 46, 170, .1);
    position: absolute;
    top: calc(50% - 40vw);
    left: 60px;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.page404-header {
    color: var(--main);
    font-weight: bold;
    font-size: 10vw;
}
.page404-subheader {
    font-weight: bold;
    color: var(--main);
    margin-top: 24px;
    margin-bottom: 90px;
    max-width: 370px;
    font-size: 18px;
    line-height: 1.24;
}


/***************************************/
/************** catalog ****************/
/***************************************/

.product-grid {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.product-grid>.item-card {
    margin: 0 4px;
    margin-bottom: 8px;
    width: calc(50% - 8px);
}

/************** pagination ****************/

.product-grid+.pagination-wp{
    margin-top: 32px;
}
.pagination-wp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagi-btn {
    font-size: 18px;
    margin: 0 3px;
    /* font-weight: bold; */
    color: #b3b3b3;
    padding: 3px 5px;
    line-height: 1;
    border-radius: 8px;
    min-width: 24px;
    text-align: center;
    transition: .15s linear;
}
.pagi-btn:not(.pagi-btn-active):hover,
.pagi-btn:not(.pagi-btn-active):focus,
.pagi-btn:not(.pagi-btn-active):focus:hover

{
    background-color: var(--main);
    color: #fff;
}

.pagi-btn-active {
    font-weight: bold;
    color: var(--main);
    pointer-events: none;
}

.pagi-btn-prev,
.pagi-btn-next {}

.pagi-btn-prev {}
.pagi-btn-next {}

.pagi-btn-prev:not(.pagi-btn-active):hover,
.pagi-btn-next:not(.pagi-btn-active):hover,
.pagi-btn-prev:not(.pagi-btn-active):focus,
.pagi-btn-next:not(.pagi-btn-active):focus,
.pagi-btn-prev:not(.pagi-btn-active):focus:hover,
.pagi-btn-next:not(.pagi-btn-active):focus:hover {
    background-color: transparent;
    color: var(--main);
}


/***************************************/
/************** single-item ************/
/***************************************/

main>article:first-of-type>.container:not(.hero-container) {
    padding-top: 30px;
    overflow: visible;
}

.single-item-content-container {max-width: 100%;overflow: visible;position: relative;}

/************** single-item slider ************/

.item-article {
    overflow: visible;
}

.si-slider-container {
    width: 100%;
    max-width: 100%;
    overflow: visible;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.si-slide:not(.swiper-slide-active) {
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.97);
}
.si-slider {}
.swiper-container.si-slider {
    overflow: visible;
    width: 100%;
    max-width: 100%;
}
.si-slide {
    transition: transform .15s cubic-bezier(0.4, 0, 0.2, 1);
}
.si-slide img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
}
.swiper-slide.si-slide {
    width: 100%;
    cursor: grab;
}
.si-thumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 75%;
    /* transform: translateY(-50%); */
}
.si-thumbs.swiper-container {
    overflow: visible;
    z-index: 3;
    margin-top: calc(-7vw + 1%);
}
.si-thumb {
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-right: 8px;
}
.swiper-slide.si-thumb {
    width: 10vw;
    max-width: 140px;
    min-width: 40px;
    transition: border-color .15s linear;
}

.si-thumb.swiper-slide-thumb-active {
    border-color: #000;
}
.si-thumbs>.swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: flex-start;
    width: unset;
    margin-left: 8px;
    max-width: 100%;
}

.si-thumb:hover {
    border-color: var(--main);
}

/************** single-item content ************/

.si-main-content {
    text-align: left;
    margin-top: 20px;
}
.si-article {
    font-size: 14px;
    font-weight: bold;
    color: #dadada;
    margin-bottom: 12px;
}
.si-article span {
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
}
.si-title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 8px;
    line-height: 1.24;
}
.si-subheader {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
}

.si-item-card-price-wp {
    margin-top: 12px;
    font-size: 36px;
}

.si-item-card-price-wp>.item-card-price-sale {
    margin-left: 30px;
}
.ss-option>span,
.ss-main .ss-content .ss-list .ss-option span {display: none;}

/************** si-form **********/

.si-form {
    border-top: 2px solid #dadada;
    padding-top: 24px;
    margin-top: 27px;
}

.si-form-row {
    margin-bottom: 12px;
}
.si-form-row:las-of-type {
    margin-bottom: 12px;
}

.ic-cart-add {
    margin-top: 12px;
}

.input-header {

}

.form-count-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 12px;
}
.form-count-wp:after {
    content: attr(data-text);
    position: absolute;
    bottom: 2px;
    right: 0;
    left: auto;
    color: #dadada;
    font-size: 80%;
    z-index: 1;
}
.form-count-title {
    margin-right: auto;
}

.ss-main .ss-single-selected .placeholder {
    font-weight: bold;
}
.ss-main .ss-single-selected .placeholder>span {
    margin-right: 5px;
    font-weight: normal;
}
.ss-main .ss-single-selected .placeholder>span:first-letter {
    text-transform: uppercase;
}

.ss-option-selected {
    background-color: var(--main);
    color: #fff;
}

/*input-count-box*/
.input-count-box {
    border: 2px solid #dadada;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 7px 10px;
    position: relative;
}
.form-count-btn {
    color: var(--main);
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    line-height: 0;
}
.form-count-btn:hover {background-color: var(--main);color: #fff;}
.form-count-btn.minus {}
.form-count-btn.plus {}
.form-count-wp {
    padding: 0;
    flex-grow: 1;
    max-width: 43px;
    text-align: left;
    margin: 0px 12px;
    position: relative;
    font-weight: bold;
    line-height: 1;
    pointer-events: none;
}
.form-count {padding: 0;text-align: right;font-size: inherit;font-weight: inherit;padding-right: 25px;}

/************** single-item tabs ************/

.si-tabs-article {
    background-color: var(--gray);
}

.si-tabs-contaioner {}

.si-tabs {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.si-tab {
    width: 100%;
    text-align: left;
    padding: 30px 0;
    position: relative;
}

.si-tab:after,
.si-tab:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #dadada;
    width: 100%;
}
.si-tab:not(:first-child):before {
    display: none;
}
.si-tab:first-child:before {
    display: block;
    top: 0;
    bottom: auto;
}

.si-tab-header {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding-right: 35px;
}
.si-tab-header:hover,
.si-tab-header:focus,
.si-tab-header:focus:hover {
    color: var(--main);
}

.si-tab-btn {}

.si-tab-btn:before {
    position: absolute;
    right: 0;
    top: calc(50% - 8px);
    color: var(--main);
    font-size: 16px;
    transition: .15s cubic-bezier(0.4, 0, 0.2, 1);
}
.si-tab.active>.si-tab-btn:before {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.si-tab-container {
    display: none;
    text-align: left;
    line-height: 1.3;
    font-size: 14px;
}
.si-tab-header+.si-tab-container {
    margin-top: 30px;
}
.si-tab.active>.si-tab-container {
    display: block;
}

/************** ikea hardcodes **********/

#productDimensionsContainer+#dessection_right{
    margin-top: 15px;
}

.productsubheadline {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 16px;
}

#requiresAssembly {
    margin-top: 10px;
}

/************** flex-table **********/
.doc-table {
    width: 100%;
    overflow: auto;

}
.doc-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
    padding: 5px 5px;
    line-height: 1.24;
}
.doc-row:nth-child(2n) {
    background-color: #e6e6e6;
}

.doc-title {
    padding-right: 15px;
    text-align: left;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 5px;
}
.doc-link-td {}
.doc-link-td>a {}
.doc-link-td>a:visited {
    color: #333;
}
.doc-link-td>a:hover,
.doc-link-td>a:focus,
.doc-link-td>a:focus:hover {
    color: var(--main-hover);
}


/************** breadcrubs **********/

.breadcrubs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
}

.breadcrubs-element {
    font-size: 14px;
    color: #000;
    white-space: nowrap;
}
.breadcrubs-element:before {
    position: absolute;
    left: calc(100% + 1px);
    font-size: 80%;
    top: calc(50% - 0.5em);
    height: 1em;
    color: #dadada;
}
.breadcrubs-element:last-of-type {
    font-weight: bold;
}
.breadcrubs-element:last-of-type:before {
    display: none;
}
.breadcrubs-element:not(:last-of-type) {
    margin-right: 14px;
}

.breadcrubs-element:first-letter {
    text-transform: uppercase;
}


/***************************************/
/************** page_namepage **********/
/***************************************/

/***************************************/
/************** page_namepage **********/
/***************************************/

/***************************************/
/************** page_namepage **********/
/***************************************/


/***************************************/
/************** page_namepage **********/
/***************************************/


/***************************************/
/************** page_namepage **********/
/***************************************/


/***************************************/
/************** page_namepage **********/
/***************************************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/


/************** ELEMENT ****************/

/***************************************/
/************** SEARCH *****************/
/***************************************/

.search-article {
    top: 56px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 33;
    background-color: #fff;
    box-shadow: 0px 0px 30px 5px rgba(32, 49, 109, 0.1);
}
.search-container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}
.search-form {}
.search-form-input {
}
.search-form-input-wp {
}
.search-reset-btn {
    padding: 0px;
    background-color: transparent;
    color: var(--main);
    font-size: 14px;
    position: absolute;
    right: 0;
    top: calc(50% - .5em);
}

.search-form-input-wp+.btn {margin-top: 24px;}

/************** search-queries *****************/

.search-queries-wp {
    text-align: left;
    margin-top: 40px;
}

.search-queries-header {
    margin-top: 0;
    margin-bottom: 0;
}

.search-query-wp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 24px;
    padding-bottom: 22px;
    border-bottom: 2px solid #dadada;
}
.search-query-wp:not(:last-of-type) {}

.search-query-icon {
    color: #dadada;
    font-size: 18px;
}

.search-query {
    margin-left: 10px;
    font-size: 16px;
    color: #000;
}
.search-query:hover {
    color: var(--main);
}



/***************************************/
/************** MODALS *****************/
/***************************************/

.body_fixed {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 87;
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    overflow: auto;
    display: none;
    align-items: center;
    justify-content: center;
    -webkit-overflow-scrolling: touch;
    padding-top: 56px;
}

.modal.leave {
    animation: .3s slideFromCenter cubic-bezier(0.4, 0, 1, 1) both;
    display: flex;
}

.modal:after {
    content: '';
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
}

.modal.active:after {
    /* animation: .3s slideToRight cubic-bezier(0, 0, 0.2, 1) both; */
}

.modal_scroll {
    width: calc(100% - 20px);
    max-width: 460px;
    text-align: center;
    /* min-height: 100%; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative;
    padding-top: 40px;
}

.modal_wp {
    max-width: 780px;
    z-index: 4;
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 208px);
    position: relative;
    flex-grow: 1;
    padding: 0 40px;
    padding-bottom: 14px;
}

.modal_header {
    width: 100%;
    text-align: left;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 70px;
    animation: .3s fadeToUp ease-out both .2s;
}

.modal_close {
    transition: .15s linear;
    z-index: 3;
    color: var(--main);
    font-size: 14px;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
}

.modal-close-bg {position: fixed;left: 0;top: 0;width: 100%;height: 100%;font-size: 0;background-color: transparent;z-index: 2;border-radius: 0;}

.modal_close span {}

.modal.active {
    display: flex;
}

.modal-footer {
    padding-top: 10px;
    padding-bottom: 23px;
    background-color: #fff;
    /* left: 0; */
    /* bottom: 0; */
    /* z-index: 3; */
    /* right: 0; */
    /* position: absolute; */
    width: 100%;
    box-shadow: 0px -10px 35px 0px #fff;
    overflow: visible;
    z-index: 5;
}


/***************************************/
/************** form_tnx ***************/
/***************************************/

.form_tnx {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    z-index: 55;
    text-align: center;
    padding: 0 5px;
    color: #fff;
}

.form_tnx:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--main);
    animation: .8s ease-out fadeToUp;
}

.form_tnx.active {
    display: flex;
}

.form_tnx.active:before {}

.form_tnx_header {
    position: relative;
    z-index: 3;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    animation: .5s ease-out fadeToUp both .4s;
}

.form_tnx_subheader {
    position: relative;
    z-index: 2;
    margin-top: 15px;
    animation: .5s ease-out fadeToUp both .6s;
}

.form_tnx.add_to_cart_tnx {}

.form_tnx.add_to_cart_tnx:before {
    background-color: var(--green);
}


/***************************************/
/************** FORMS ******************/
/***************************************/

form {
    width: 100%;
    text-align: left;
}

input:after {
    
}

input,textarea {
    border: none;
    outline: none !important;
    font-size: inherit;
    width: 100%;
    display: block;
    line-height: 1;
    padding: 3px 0;
    padding-top: 20px;
    color: inherit;
    box-shadow: none;
    background-color: transparent;
    text-align: inherit;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
textarea {
    box-shadow: var(--shadow);
    transition: .1s linear;
    border-bottom: 2px solid #dadada;
}

input:not([type='file']) {
    /* padding: 5px 15px; */
    /* font-size: 1em; */
    /* padding-top: 20px; */
}

textarea {
    min-height: 100px;
    line-height: 1.4;
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: 120px;
}

.form-header {
    font-size: 2em;
    margin-bottom: 5px;
    color: #000;
}
.form-subheader {
    line-height: 1.24;
    margin-bottom: 25px;
    font-weight: 500;
    color: var(--black);
}

/************** inputs ******************/
input {
    -webkit-appearance: none;
}
.input-tip {width: 100%;font-size: 80%;margin-bottom: 10px;}

.input-wp,
.input-row {
    width: 100%;
    position: relative;
}
.input-wp~.input-wp {
    margin-top: 10px;
}
.input-row:not(:only-child) {
    margin-bottom: 25px;
}

.input-wp + .btn {
    margin-top: 32px;
}

.input-row+.btn {
    margin-top: 40px;
}
.input-row:last-of-type {
    margin-bottom: 0;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus {
    background-color: #e8f0fe;
    box-shadow: var(--shadow-hover);
}

input[type=text] + label,
input[type=email] + label,
input[type=password] + label,
input[type=number] + label,
textarea + label
{
    position: absolute;
    left: 0;
    top: calc(50% - .5em);
    display: inline-block;
    pointer-events: none;
    left: 0;
    line-height: 1;
    transition: .15s ease-in-out;
    width: 100%;
    padding: 0;
    text-align: inherit;
    font-weight: normal;
}

textarea + label {
    top: 17px;
}

input[type=text]:active + label,
input[type=text]:focus + label,
input[type=text]:valid + label,
input[type=email]:active + label,
input[type=email]:focus + label,
input[type=email]:valid + label,
input[type=number]:active + label,
input[type=number]:focus + label,
input[type=number]:valid + label,
input[type=password]:active + label,
input[type=password]:focus + label,
input[type=password]:valid + label,
textarea:active + label,
textarea:focus + label,
textarea:valid + label
{
    font-size: 70%;
    top: 5px;
    font-weight: bold;
}

/************** checkbox ******************/

input[type='checkbox'],
input[type='radio'] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    z-index: -1;
}
input[type='checkbox']+label:after,
input[type='checkbox']+label:before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    align-self: flex-start;
}


input[type='checkbox']+label:before {
    height: 20px;
    margin-right: 15px;
    width: 40px;
    box-shadow: var(--shadow);
    background-color: var(--gray);
    transition: .15s linear;
    min-width: 40px;
}

input[type='checkbox']:checked+label:before {
    background-color: var(--blue);
}
input[type='checkbox']:checked+label:after {
    transform: translateX(20px);
}

input[type='checkbox']+label:after {
    width: 16px;
    height: 16px;
    background-color: #fff;
    left: 2px;
    top: 2px;
    position: absolute;
    transition: .25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    pointer-events: all;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


input[type='radio']+label:after,
input[type='radio']+label:before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    transition: .15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
input[type='radio']+label:after {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    transform: scale(0);
}
input[type='radio']+label:before {
    margin-right: 15px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--blue);
    transform: scale(.8);
    min-width: 16px;
    align-self: flex-start;
}

input[type='radio']:checked+label:after,
input[type='radio']:checked+label:before {
    transform: scale(1);
}

input[type='file'] {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}
input[type='file'] + label {}
input[type='file'] + label:after,
input[type='file'] + label:before {
    content: '';
}
input[type='file'] + label:after {}
input[type='file'] + label:before {
    content: attr(data-text);
}
/***************************************/
/************** ANOTHER ****************/
/***************************************/

*::selection,
*:-moz-selection {
    background: var(--selection-colors-bg);
    color: var(--selection-color);
}

/***************************************/
/************** FONTS ******************/
/***************************************/


@font-face {
    font-family:Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:Montserrat;
    src: url('../fonts/Montserrat-Bold.ttf'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}