.modal .modal-content .modal-header .close:before {
    content: "âœ–";
}

.alert .close:before {
    content: "âœ–";
}

.toast .toast-close-button:before {
    content: "âœ–";
}

.grid-view .table thead [data-sort] {
    display: block;
    padding: .6rem 26px .6rem .6rem;
    margin: -0.6rem;
    position: relative;
}

.grid-view .table thead [data-sort]:before, .grid-view .table thead [data-sort]:after {
    position: absolute;
    top: 50%;
    display: block;
    opacity: 0.3;
    transform: translateY(-50%);
    color: #444;
}

.grid-view .table thead [data-sort]:before {
    right: 1em;
    content: "\2191";
}

.grid-view .table thead [data-sort]:after {
    right: 0.4em;
    content: "\2193";
}

.grid-view .table thead .asc[data-sort]:before, .grid-view .table thead .desc[data-sort]:after {
    opacity: 1;
}

.img-upload-preview {
    max-width: 100%;
    width: 350px;
    margin-top: 15px;
    border: 1px solid #ebedf2;
    padding: 10px;
    border-radius: 3px;
}

.grid-img {
    max-width: 200px;
    max-height: 200px;
    transform: scale(1);
    transform-origin: left center;
    transition: transform .4s ease;
}

.grid-img:hover {
    transition-delay: .6s;
    transform: scale(2);
}