@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons/leoikea.eot?alfmhz');
  src:  url('../fonts/icons/leoikea.eot?alfmhz#iefix') format('embedded-opentype'),
    url('../fonts/icons/leoikea.ttf?alfmhz') format('truetype'),
    url('../fonts/icons/leoikea.woff?alfmhz') format('woff'),
    url('../fonts/icons/leoikea.svg?alfmhz#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ic-p-card:before {
  content: "\e931";
}
.ic-p-cash:before {
  content: "\e932";
}
.ic-m-minus:before {
  content: "\e92e";
}
.ic-m-plus:before {
  content: "\e92f";
}
.ic-arrow-down:before {
  content: "\e900";
}
.ic-arrow-left:before {
  content: "\e901";
}
.ic-arrow-right:before {
  content: "\e902";
}
.ic-arrow-up:before {
  content: "\e903";
}
.ic-ben-1:before {
  content: "\e904";
}
.ic-ben-2:before {
  content: "\e905";
}
.ic-ben-3:before {
  content: "\e906";
}
.ic-ben-4:before {
  content: "\e907";
}
.ic-ben-5:before {
  content: "\e908";
}
.ic-ben-6:before {
  content: "\e909";
}
.ic-ben-7:before {
  content: "\e90a";
}
.ic-bin:before {
  content: "\e90b";
}
.ic-burger:before {
  content: "\e90c";
}
.ic-cart-add:before {
  content: "\e90d";
}
.ic-cart:before {
  content: "\e90e";
}
.ic-cart-move:before {
  content: "\e930";
}
.ic-category-1:before {
  content: "\e90f";
}
.ic-category-2:before {
  content: "\e910";
}
.ic-category-3:before {
  content: "\e911";
}
.ic-category-4:before {
  content: "\e912";
}
.ic-category-5:before {
  content: "\e913";
}
.ic-category-6:before {
  content: "\e914";
}
.ic-category-7:before {
  content: "\e915";
}
.ic-category-8:before {
  content: "\e916";
}
.ic-category-9:before {
  content: "\e917";
}
.ic-category-10:before {
  content: "\e918";
}
.ic-category-11:before {
  content: "\e919";
}
.ic-category-12:before {
  content: "\e91a";
}
.ic-category-13:before {
  content: "\e91b";
}
.ic-category-14:before {
  content: "\1f374";
}
.ic-category-15:before {
  content: "\1f37d";
}
.ic-category-16:before {
  content: "\e91e";
}
.ic-category-17:before {
  content: "\e91f";
}
.ic-category-18:before {
  content: "\e91c";
}
.ic-close:before {
  content: "\e920";
}
.ic-close-bold:before {
  content: "\e91d";
}
.ic-logo-1:before {
  content: "\e921";
}
.ic-magnifier:before {
  content: "\e922";
}
.ic-mail:before {
  content: "\e923";
}
.ic-phone-call:before {
  content: "\e924";
}
.ic-phone:before {
  content: "\e925";
}
.ic-pin:before {
  content: "\e926";
}
.ic-instagram:before {
  content: "\e927";
}
.ic-messenger:before {
  content: "\e928";
}
.ic-facebook:before {
  content: "\e929";
}
.ic-telegram:before {
  content: "\e92a";
}
.ic-viber:before {
  content: "\e92b";
}
.ic-whatsapp:before {
  content: "\e92c";
}
.ic-404:before {
  content: "\e92d";
}
